

.container {
  display: flex;
  background-color: #FCFCFC;
  height: 600px;
}

.inside-container {
  flex: 1;
  padding: 10px;
  justify-content: space-between;
}

.input-search {
  height: 40px;
 
  border: 1px solid lightgray;
  border-radius: 3px;
}

.top-content {
  display: flex;
}

.top-content input {
    width: 150px;
}

.top-content button {
  margin-left: auto;
  width: 150px;
  background-color: #f8da0f; 
  border: 1px solid #f8da0f;
    border-radius: 3px; 
}

.container-table{
    width: 100%;

}